<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>COVID-19 early symptom detector</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
 

</head>
<style>
body,h1 {font-family: "Raleway", sans-serif; color:whitesmoke; font-weight: bold; }
h4{padding: 1%}
body, html {height: 100% }
form{ color:white;}
</style>

<body style="background-image: url('https://www2.deloitte.com/content/dam/insights/us/articles/6677_covid-19/images/6677_banner1.jpg/_jcr_content/renditions/cq5dam.web.1440.660.jpeg'); background-size: cover; margin-left: 5%;">
 <div class="login">
  <h1 align = "center">🏥 Check how urgently do you need medical care? 🏥</h1>
  
  
  <!-- <h2 align ="center"> Let AI help you decide 🤖 </h2> -->

    <div class="Variables">
    <form action="{{ url_for('predict')}}"method="post">

    <label>Age</label>
    <input type="number" name="age" placeholder="Age" required="required" step="1" min="0" max="120"/>
    <br>
    <br>


    <label>Sex</label>
    <select id = "sex" name = 'sex'>
    <option value = "male">Male</option>
    <option value = "female">Female</option>
    </select>
    <br>
    <br>
    
    <label>Cough</label>
    <select id = "cough" name = 'cough' >
    <option value = "Yes">Yes</option>
    <option value = "No">No</option>
    </select>
    <br>
    <br>

    <label>Fever</label>
    <select id = "fever" name = 'fever' >
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>
    <br>
    <br>

    <label>Chills</label>
    <select id = "chills" name = 'chills' >
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>
    <br>
    <br>

    <label>Sore Throat</label>
    <select id = "sore_throat" name = 'sore_throat' >
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>
    <br>
    <br>

    <label>Headache</label>
    <select id = "headache" name = 'headache' >
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>
    <br>
    <br>

    <label>Fatigue</label>
    <select id = "fatigue" name = 'fatigue' >
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>
    <br>
    <br>

  </div>
  <br>
  <br>
  <div>
  <button type="submit" class="btn btn-primary btn-block btn-large">Check</button>
  </div>    

    </form>
    <h4 align = "right"> Made with ❤️ by <a href = "https://gensectimes.com/">Hargun Oberoi</a> </h4> 

   <h2 align="center">{{ prediction_text }}</h2>
   
  </div>
  

</body>
</html>
